@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Noto+Sans:wght@300&display=swap');

body
{
    background-color: #0E1C36;
    font-family: 'Noto Sans', sans-serif;
}

#main-title
{
    font-size: 3em;
    font-weight: 800;
    color: #F9FBF2;
}

.sub-title
{
    font-size: 2em;
    font-weight: 600;
    color: #F9FBF2;
}

.catalog
{
    background-color: #F78E69;
}

.catalog-item
{
    font-family: 'BIZ UDPMincho', serif;
    font-size: 1.5em;
    font-weight: 400;
}

.catalog-item-1
{
    color: #F78E69;
}

.catalog-item-2
{
    color: #329F5B;
}

.catalog-item-3
{
    color: #EBF2FA;
}

.poster-image
{
    width: 30%;
    height: 30%;

}

.poster
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
