@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200&family=PT+Serif:ital,wght@1,700&display=swap');

body
{
    margin: 0;
    padding: 0;
}

#menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#menu a
{
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #413e3e;
}

#menu a:hover
{
    color: #9b9292;
}



