html, body
{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

header
{
    text-align: center;
}

main
{
    width: 50%;
    margin: 0 auto;
}

.input-field
{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
