@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

html, body
{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Tiro Bangla', serif;
}

header
{
    text-align: center;
    background-color: #85e7cace;
    filter: blur( 10% );
}

header h1
{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    padding: 1rem;
    margin: 0;
}

main
{
    width: 90%;
    min-height: 91vh;
    margin: 0 auto;
    background-color: #00000080;
}

#container
{
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}

.input-field
{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.input-area
{
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
    font-size: 1.25rem;
}

.input-action
{
    border-radius: 4px;
    padding: 4px;
    font-size: 1.25rem;
    background-color: #5ba6d1af;
    color: white;
}

#main-table
{
    margin: 2rem auto;
    border: 2px solid white;
    border-radius: 10px;
}

#main-table thead
{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

#main-table tbody
{
    font-size: 1.25rem;
    text-align: center;
    color: white;
}

#main-table th
{
    width: 120px;
}
