@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* Prevent header overlaping content */
html {
    scroll-padding-top: 70px; /* height of sticky header */
}

body
{
    font-family: 'Roboto Condensed', sans-serif;
}

#menu-top
{
    background-color: #f57a32;
    padding-top: 72px!important;
}

#menu-top i, #menu-top span
{
    vertical-align: middle;
}

.social-links a
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.288);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-links a:hover
{
    transition: all 0.25s ease;
    transform: scale(1.2);
}

#menu-bar span
{
    color: #f57a32;
}

#menu-bar a
{
    color: black;
    font-weight: 500;
}

#menu-bar li:last-child a
{
    color: white;
    padding: 8px 24px;
    background-color: #f57a32;
    border-radius: 4px;
}

#menu-bar li:last-child a:hover
{
    background-color: #f0a67b;
    transition: all 0.5s ease;
    transform: scale(1.1);
}

#menu-bar a:hover
{
    color: #f57a32;
}

#main-slide
{
    position: relative;
}

#main-slide img
{
    filter: brightness(50%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 90vh;
}

#main-banner
{
    position: absolute;
    left: 20%;
    top: 40%;
    /* margin: auto 0; */
}

#main-banner h1
{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

#main-banner a
{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 24px;
    margin-right: 1rem;
    border-radius: 4px;
    color: white;
}

#main-banner div a:first-child
{
    background-color: #f57a32;
    border: 3px solid #f57a32;
}

#main-banner div a:first-child:hover
{
    background-color: #f0a67b;
    transition: all 0.5s ease;
}

#main-banner div a:last-child
{
    border: 3px solid white;
}

#main-banner div a:last-child:hover
{
    background-color: #e0dcdc;
    transition: all 0.5s ease;
    color: #5e5b5b;
}

#about img:last-child
{
    flex: 1 0 50%;
    width: 30%;
}

#about > div
{
    flex: 1 0 50%;
}

#about img
{
   margin-right: 2rem;
   margin-bottom: 2rem;
}

#about h3
{
    font-size: 1.5rem;
    font-weight: 600;
}

#about p
{
    font-weight: 300;
    padding-right: 2rem;
}

#analytics
{
    padding: 80px 0;
    background-color: #f57a32;
}

#analytics h2
{
    font-size: 4rem;
    font-weight: 800;
}

.content-banner
{
    padding: 50px 0;
    width: 50%;
    margin: 0 auto;
}

.content-banner h2
{
    font-size: 2.5rem;
    font-weight: 600;
}

.content-banner p
{
    font-size: 1.25rem;
    font-weight: 500;
    color: #5e5b5b;
}

#services-area .card:hover
{
    transition: all 0.5s ease;
    transform: scale(1.05);
    cursor: pointer;
}

#portfolio-slide .carousel-item
{
    max-height: 90vh;
}

#portfolio-slide .carousel-item img
{
    filter: brightness(75%);
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#team .card .img-wrapper
{
    position: relative;
}

#team .card .overlay
{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f57a32;
    transition: all 1s ease;
}

#team .card:hover .overlay
{
    opacity: 0.75;
}

#team .card .social-links
{
    gap: 1rem;
}

#team .card .social-links a
{
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.4);
}

#reviews
{
    background-image: url("./assets/bg_banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#reviews > div
{
    background-color: rgba(12, 39, 51, 0.815);
}

#team-slide .member-icon
{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

#team-slide .member-info
{
    width: 50%;
    margin: 1rem auto;
}

#blog .card
{
    position: relative;
}

#blog .card:hover
{
    transition: all 0.5s ease;
    transform: scale(1.05);
    cursor: pointer;
}

#blog .card .card-btn
{
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: #f57a32;
    padding: 4px 12px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

#blog .card .card-btn:hover
{
    background-color: #f0a67b;
}

footer
{
    background-image: url("./assets/bg_banner2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .background-wrapper
{
    background-color: rgba(12, 39, 51, 0.815);
}

footer .background-wrapper > div
{
    padding: 50px 0;
    width: 40%;
    margin: 2rem auto 0 auto;
}

footer .social-links
{
    margin: 0;
    padding: 0;
}

footer h4 span
{
    color: #f57a32;
}


