@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* reset css */
body
{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background: linear-gradient(to right, #141e30, #243b55);
}

/* top menu bar */
#main-menu
{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    background-color: #0c1320;
}

/* menu bar logo image */
#logo-image
{
    width: 400px;
    height: 120px;
}

/* nav menu */
#menu
{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

/* nav menu items */
.menu-item
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

/* main content section */
#main-content
{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 48px;
    gap: 48px;
}

/* main item cards */
.item-card
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #f3eded;
    border-radius: 10px;
    padding: 20px;
}

.item-title
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.item-image
{
    width: 200px;
    height: 200px;
}
