body
{
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;
}

/* main menu bar */
header
{
    background-color: #0db868;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* title */
header > h1
{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    color: white;
    padding-left: 1em;
    margin: 0;
}

/* menu */
header > nav
{
    display: flex;
    flex: row wrap;
    gap: 1em;
}

/* menu items */
header > nav > a
{
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-right: 1em;
}

#selected
{
    border-bottom: 2px solid white;
}

/* main background image */
main
{
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: stretch;

    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    background-attachment: fixed;
}

/* main content */
main > div
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    padding-top: 1em;
}

/*  */
main > div > section > article > h2
{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: white;
    margin: 0;
}

main > div > section > article > hr
{
    width: 50%;
}

main > div > section > article > p
{
    font-size: 1.5;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    padding: 0 2em;
}

main > div > section > article > figure
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main > div > section > article > figure > img
{
    width: 50%;
}

/*
main > div > section > article > figure > figcaption
{
    font-size: 1.5em;
    font-weight: 300;
    color: white;
} */

/* main > div > section > article > ul
{
    display: flex;
    flex-flow: column nowrap;
}

main > div > section > article > ul > li
{
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    color: white;
} */

footer
{
    background-color: #0db868;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

footer > img
{
    width: 10%;
    padding: 1rem;
}
